src/main/resources/wsdl/v1_04/IDMService_V1.04.wsdl

<!-- 
	This WSDL implements the following CEMLIs
		I262(UpdateCustomUCID)
		I371(TriggerPersonJob)
	During runtime, clients implementing the service need to point to the appropriate UCPath environment's endpoint and service context 
		I262 - Endpoint URI - https://<UCPATH-SOA-ENV>/ucpath/IdmCustomUcIdEmail
		I371 - Endpoint URI - https://<UCPATH-SOA-ENV>/ucpath/TriggerPersonJob
	
	Changes:
	04/24/2017 - WSDL version to 1.04
				 PMO-2344 - SOA - I262 - Add fault message to the WSDL
				 PMO-2346 - SOA - I371 - Add fault message to the WSDL
				 Uncommented the policy references
 -->
<wsdl:definitions name="IDMService"
	targetNamespace="http://www.universityofcalifornia.edu/UCPath/IDM"
	xmlns:idm="http://www.universityofcalifornia.edu/UCPath/IDM"
	xmlns:ucpath="http://www.universityofcalifornia.edu/UCPath"
	xmlns:ucpfault="http://www.universityofcalifornia.edu/UCPath/UCPathFault" 
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<wsdl:types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://www.universityofcalifornia.edu/UCPath/IDM"
				schemaLocation="../../Schemas/v1_03/ServiceRequest_UpdateCustomUCID_V1.03.xsd" />
		</xsd:schema>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://www.universityofcalifornia.edu/UCPath/IDM"
				schemaLocation="../../Schemas/v1_03/ServiceRequest_TriggerPersonJob_V1.03.xsd" />
		</xsd:schema>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://www.universityofcalifornia.edu/UCPath"
				schemaLocation="../../Schemas/v1_02/ServiceResponse_V1.02.xsd" />
		</xsd:schema>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://www.universityofcalifornia.edu/UCPath/UCPathFault"
				schemaLocation="../../Schemas/v1_03/UCPathFault.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="TriggerPersonJobRequest">
		<wsdl:part name="request" element="idm:TriggerPersonJobRequest" />
	</wsdl:message>
	<wsdl:message name="TriggerPersonJobResponse">
		<wsdl:part name="response" element="ucpath:UCPathServiceResponse" />
	</wsdl:message>

	<wsdl:message name="UpdateCustomUCIDRequest">
		<wsdl:part name="request" element="idm:UpdateCustomUCIDRequest" />
	</wsdl:message>
	<wsdl:message name="UpdateCustomUCIDResponse">
		<wsdl:part name="response" element="ucpath:UCPathServiceResponse" />
	</wsdl:message>
	<wsdl:message name="UCPathFault">
		<wsdl:part name="fault" element="ucpfault:UCPathFault" />
	</wsdl:message>

	<wsdl:portType name="IDMServicePort">
		<wsdl:operation name="UpdateCustomUCID">
			<wsdl:input message="idm:UpdateCustomUCIDRequest" />
			<wsdl:output message="idm:UpdateCustomUCIDResponse" />
			<wsdl:fault name="fault" message="idm:UCPathFault"/>
		</wsdl:operation>

		<wsdl:operation name="TriggerPersonJob">
			<wsdl:input message="idm:TriggerPersonJobRequest" />
			<wsdl:output message="idm:TriggerPersonJobResponse" />
			<wsdl:fault name="fault" message="idm:UCPathFault"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="IDMServiceSOAP" type="idm:IDMServicePort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsp:PolicyReference URI="#UCPathService_Msg_Protection_Policy" wsdl:required="false"/>

		<wsdl:operation name="TriggerPersonJob">
			<soap:operation
				soapAction="http://www.universityofcalifornia.edu/UCPath/IDM/IDMService/TriggerPersonJob" />
			<wsdl:input>
				<soap:body use="literal" />
				<wsp:PolicyReference URI="#UCPathService_SOAP_Input_Policy" wsdl:required="false"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<wsp:PolicyReference URI="#UCPathService_SOAP_Output_Policy" wsdl:required="false"/>
			</wsdl:output>
			<wsdl:fault name="fault">
          <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="UpdateCustomUCID">
			<soap:operation
				soapAction="http://www.universityofcalifornia.edu/UCPath/IDM/IDMService/UpdateCustomUCID" />
			<wsdl:input>
				<soap:body use="literal" />
				<wsp:PolicyReference URI="#UCPathService_SOAP_Input_Policy" wsdl:required="false"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<wsp:PolicyReference URI="#UCPathService_SOAP_Output_Policy" wsdl:required="false"/>
			</wsdl:output>
			<wsdl:fault name="fault">
          <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
		</wsdl:operation>

	</wsdl:binding>

	<wsp:Policy wsu:Id="UCPathService_SOAP_Input_Policy">
		<sp:SignedParts>
			<sp:Body />
			<sp:Header Namespace="http://www.w3.org/2005/08/addressing" />
			<sp:Header Namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" />
			<sp:Header Name="fmw-context" Namespace="http://xmlns.oracle.com/fmw/context/1.0" />
		</sp:SignedParts>
		<sp:EncryptedParts>
			<sp:Body />
			<sp:Header Name="fmw-context" Namespace="http://xmlns.oracle.com/fmw/context/1.0" />
		</sp:EncryptedParts>
	</wsp:Policy>

	<wsp:Policy wsu:Id="UCPathService_SOAP_Output_Policy">
		<sp:SignedParts>
			<sp:Body />
		</sp:SignedParts>
		<sp:EncryptedParts>
			<sp:Body />
		</sp:EncryptedParts>
	</wsp:Policy>

	<wsp:Policy wsu:Id="UCPathService_Msg_Protection_Policy">
		<sp:AsymmetricBinding>
			<wsp:Policy>

				<sp:InitiatorToken>
					<wsp:Policy>
						<sp:X509Token
							sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/Always">
							<wsp:Policy>
								<sp:WssX509V3Token10 />
							</wsp:Policy>
						</sp:X509Token>
					</wsp:Policy>
				</sp:InitiatorToken>

				<sp:RecipientToken>
					<wsp:Policy>
						<sp:X509Token
							sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/Always">
							<wsp:Policy>
								<sp:WssX509V3Token10 />
							</wsp:Policy>
						</sp:X509Token>
					</wsp:Policy>
				</sp:RecipientToken>

				<sp:AlgorithmSuite>
					<wsp:Policy>
						<sp:Basic128 />
					</wsp:Policy>
				</sp:AlgorithmSuite>

				<sp:Layout>
					<wsp:Policy>
						<sp:Lax />
					</wsp:Policy>
				</sp:Layout>

				<sp:IncludeTimestamp />
				<sp:OnlySignEntireHeadersAndBody />
			</wsp:Policy>
		</sp:AsymmetricBinding>

		<sp:Wss10>
			<wsp:Policy />
		</sp:Wss10>
	</wsp:Policy>

	<wsdl:service name="IDMService">
		<wsdl:port binding="idm:IDMServiceSOAP" name="IDMServiceSOAP">
			<soap:address location="http://localhost:9081/UCPath/IDM/IDMService" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>